*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img-fluid{
    width: 200px;
}
.novedadesTitulo{
    color: rgb(9, 59, 9);
    font-size: 40px;
}
.novedadesCont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.novedad{
    display: flex;
    width: 450px;
    margin: 10px;
    padding: 10px;
    border: solid;
    
}
.novImg{
    width: 200px;
    height: 200px;
}
.promo{
    width: 450px;
}
.promo__img{
    width: 220px;
    height: 180px;
}
.promo__img2{
    width: 150px;
}
.promo__titulo{
    font-size: 18px;
}
.promo__descrip{
    font-size: 15px;
}
.logo{
    width: 50px;
    height: 50px;
    margin: 10px;
}
.navbar{
    background-color: rgb(78, 134, 78) !important;
    font-size: 25px;
}
.tarjetasBTS{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    margin: 20px;
}
.tarjetaBTS{
    background-color: rgb(212, 212, 148);
    margin: 10px;
}
.btn{
    background-color: rgb(163, 89, 4);
    border: solid rgb(53, 39, 1);
    width: 150px;
    height: 40px;
    font-size: 20px;
    
}
.navegador{
    background-color: rgb(78, 134, 78);
    
}
.navegador ul li{
    display: inline-block;
}
/*Productos*/
.tituloProductos{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-left: 20px;
    text-decoration: underline;
    color:rgb(24 , 51, 31) ;
}
.promocionesTitulo{
    padding: 15px;
    margin: 20px;
    color: rgb(24 , 51, 31);
}
.tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.tarjeta{
    display: flex;
    width: 350px;
    height: 250px;
    border: solid 4px rgb(71, 57, 8);
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    background-color: rgb(171, 173, 130);
}
.tarjeta__img{
    width: 50%;
    height: 70%;
    margin: 10px;
    object-fit: cover;
}
.tarjeta__titulo{
    margin: 10px;
    font-size: 20px;
}
.tarjeta__info{
    margin: 10px;
}
.tarjeta__btn{
    margin: 20px;
    padding: 8px;
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(65, 155, 65);
    border: none;
    border-radius: 2px;
}
/*Contacto*/
.telefono{
    width: 200px;
    margin: 40px;
    padding: 10px;
    transition: 1s;
}
.telefono:hover{
    transform: translate(800px, 5px);
}
.contenidoContacto{
    background-color: rgb(142, 150, 108);
}
.formulario{
    padding: 20px;
    margin: 40px auto;
    width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    border: solid rgb(102, 79, 3);
    background-color: rgb(241, 233, 194);
}
.tituloFormulario{
    padding: 20px;
    font-size: 30px;
}
.ubicacion{
    padding: 15px;
    margin: 20px;
}
.mapa{
    margin: 20px;
    padding: 15px;
}
@media (max-width:747px){
    .mapa{
        width: 350px;
        height: 350px;
    }
    .formulario{
        width: 300px;
        margin: 20px;
    }
}
@media(max-width: 385px){
    .mapa{
        width: 250px;
        height: 250px;
    }
    .telefono{
        width: 100px;
    }
}
.footer{
    background-color:  rgb(78, 134, 78);
}
.logoFacebook{
    width: 60px;
    height: 60px;
    padding: 10px;

}
.logoInstagram{
    width: 60px;
    height: 60px;
    padding: 10px;
}
.logoYoutube{
    width: 60px;
    height: 60px;
    padding: 10px;
}
.footerTitulo{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
/*Ofertas*/
.ofertasTitulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin: 40px;
    padding: 20px;
    border: solid;
    width: 300px;
    background-color: rgb(247, 41, 26);
}
.ofertasTitulo:hover{
    transform: scale(1);  font-size: 100px; 
    color: rgb(110, 5, 5);
    border: solid;
    width: 600px;
}
@media (max-width:560px){
    .ofertasTitulo:hover{
        font-size: 70px;
        border: solid;
        width: 400px;
    }
}
.porcentaje{
    margin: 30px;
    width: 150px;
    border: solid rgb(108, 44, 138);
    animation-name: mover;
    animation-duration: 8s;
}
.contenedorPorcentaje{
    width: 1350px;
    height: 200px;
    background-color: rgb(250, 51, 51);
}
@keyframes mover {
    0%{
        transform: translate(0,0);
    }
    25%{
        transform: translate(1000px,0);
    }
    
}
.ofertas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.oferta{
    display: flex;
    width: 600px;
    border: solid 6px;
    background-color: rgb(247, 41, 26);
    margin: 20px;
}
.oferta__descrip{
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.precioAnterior{
    text-decoration: line-through;
}
.regalosTitulo{
    padding: 30px;
    margin-left:  40px ;
    margin-top: 60px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 800;
    color: rgb(42, 85, 53);
}
.regalosDescrip{
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.regalos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}
.regalo{
    display: flex;
    width: 600px;
    border: solid 6px;
    padding: 10px;
    color: white;
    background-color: rgb(2, 58, 58);
}
.regalo__titulo{
    padding: 10px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-decoration: underline;
}
.regalo__descrip{
    padding: 10px;
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.regalo__btn{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(42, 170, 170);
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    margin: 5px;
}

.grillaProductos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto auto auto 100px;
    grid-template-areas: "nav    nav    nav    nav"
                         "header header header header"
                         "main   main   main   main"
                         "footer footer footer footer";
}
nav{
    grid-area: nav;
}
header{
    grid-area: header;
}
.contenidoProd{
    grid-area: main;
    background-color:  rgb(142, 150, 108); 
}
footer{
    grid-area: footer;
    background-color:rgb(78, 134, 78);
}
.navegadorGrillas{
    background-color: rgb(78, 134, 78) ;
    display: flex;
    align-items: center;
}
.navegadorGrillas ul{
    list-style-type: none;
}
.navegadorGrillas ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 10px;
}
.navegadorGrillas ul li{
    display: inline-block;
}
.navegadorGrillas .fa-bars{
    display: none;
}
@media(max-width:667px){
    .navegadorGrillas{
        justify-content: space-between;
    }
   
    .navegadorGrillas> .fa-bars{
        display: block;
        color: white;
        font-size: 40px;
        margin: 10px;
        padding: 10px;
    }
    .navegadorGrillas> ul {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 250px;
        background-color: rgb(78, 134, 78);
        height: 100vh;
        top: 0;
        left: -300px;
        z-index: 100;   
        transition: 1s;
    }
    .navegadorGrillas> ul> li{
        margin: 10px 0px;
    }
    .navegadorGrillas> ul :nth-child(1) {
        margin-top: 100px;
    }
    
    .navegadorGrillas> i:hover + ul {
        left: 0;
    }
    .navegadorGrillas> ul:hover{
        left: 0;
    }
}
@media(max-width:560px){
    .foot{
        display: flex; 
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding: 10px;
    }
    .footDescrip{
        font-size: 10px;
        margin-left: 10px;
    }
    .logoFacebook{
        width: 40px;
        height: 40px;
        padding: 5px;
    }
    .logoYoutube{
        width: 40px;
        height: 40px;
        padding: 5px;
    }
    .logoInstagram{
        width: 40px;
        height: 40px;
        padding: 5px;
    }
}
/*Quienes somos*/
.quienesSomos{
    padding: 30px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: rgb(42, 85, 53);
}
.headerNosotros{
    background-color: rgb(142, 150, 108);
}
.contenidoNosotros{
    background-color: rgb(142, 150, 108);
}
.nosotrosDescrip{
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 85%;
    margin-top: 0;
    margin-right: 50px;
    margin-left: 30px;
}
.elementosIdentidad{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.elementos{
    display: flex;
    width: 600px;
    border: solid 4px rgb(71, 57, 8);
    padding: 10px;
    margin: 20px;
}
.elemento__titulo{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}
.elemento__descrip{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    font-size: 18px;
}
.personasImg{
    width: 600px;
    margin: 20px;
    margin-left: 30px;
    padding: 20px;
}
.personasDescrip{
    padding: 10px;
    padding-bottom: 80px;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
@media (max-width:626px){
    .personasImg{
        width: 300px;
    }
}
.foot{
    background-color: rgb(78, 134, 78) ;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footDescrip{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    margin-left: 100px;
}