.elementosIdentidad {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .elementos {
        display: flex;
        width: 600px;
        border: solid 4px rgb(71, 57, 8);
        padding: 10px;
        margin: 20px;
        .elemento__titulo {
            font-family: Arial, Helvetica, sans-serif;
            font-style: italic;
            text-decoration: underline;
            margin: 10px;
        }
        .elemento__descrip {
            font-family: Arial, Helvetica, sans-serif;
            margin: 10px;
            font-size: 18px;
        }
    }
}