.navegador{
    background-color: rgb(42, 65, 42);
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: start;
    label{
        .fa-bars{
            display: none;
            @media(max-width:667px){
                display: block;
                color: white;
                padding: 20px;
                font-size: 30px;
            }
        }
    }
    input[type=checkbox]{
        display: none;
    }
    input[type=checkbox]:checked + ul{
        left: 0;
    }
    ul{
        list-style-type: none;
        display: flex;
        @media(max-width:667px){
            position: fixed;
            display: flex;
            flex-direction: column;
            width: 250px;
            background-color: rgb(78, 134, 78);
            height: calc(100vh - 70px);
            bottom: 0;
            left: -300px;
            z-index: 100;   
            transition: 0,8s;
            &:hover{
                left: 0;
            }
        }
        li> {
                a{
                display: block;
                text-decoration: none;
                color: white;
                padding: 15px;
                font-size: 22px;
                font-family: Arial, Helvetica, sans-serif;
                }
            }
    }
    .logo{
        width: 60px;
        height: 60px;
        padding: 10px;
        @media(max-width:667px){
            position: absolute;
            right: 10px;
            top: 8px;
        }
    }
}    
