.ofertasTitulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin-left: 20px;
    padding-block: 30px;
    border: solid;
    width: 300px;
    background-color: rgb(192, 54, 44);
    @media(max-width:400px){
        font-size: 35px;
        width: 200px;
    }
    &:hover{
        transform: scale(1);  font-size: 100px; 
        color: rgb(110, 5, 5);
        border: solid;
        width: 600px;
    }
    @media (max-width:560px){
        &:hover{
            font-size: 70px;
            border: solid;
            width: 400px;
        }
    }
    @media (max-width:432px){
        &:hover{
            font-size: 40px;
            border: solid;
            width: 250px;
        }
    }
}
.porcentaje{
    margin: 30px;
    width: 150px;
    border: solid rgb(108, 44, 138);
    animation-name: mover;
    animation-duration: 8s;
    @media(max-width:650px){
        width: 90px;
    }
}
.contenedorPorcentaje{
    height: 200px;
    background-color:rgb(192, 54, 44);
    @media(max-width :650px){
        height: 120px;
    }
    @keyframes mover {
        0%{
            transform: translate(0,0);
        }
        25%{
            transform: translate(1000px,0);
        }
        
    }
    
}

.ofertas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .oferta{
        display: flex;
        width: 600px;
        border: solid 6px;
        background-color:rgb(192, 54, 44);
        margin: 20px;
        padding: 10px;
        @media(max-width:415px){
            margin: 10px;
            padding: 8px;
        }
        .oferta__titulo{
            font-size: 20px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-decoration: underline;
            font-style: oblique;
            @media(max-width:420px){
                font-size: 16px;
            }
        }
        .oferta__descrip{
            margin: 10px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            @media(max-width:415px){
                font-size: 16px;
            }
            .precioAnterior{
                text-decoration: line-through;
            }
        }
    }
}



