.ubicacion{
    margin-left: 150px;
    font-family: Arial, Helvetica, sans-serif;
    @media(max-width:842px){
        margin-left: 10px;
    }
    .ubicacion__calle{
        font-size: 18px;
        margin-left: 50px;
    }
}
.mapa{
    margin-left: 60px;
    margin-bottom: 60px;
    padding: 10px;
    width: 700px;
    @media(max-width:1136px){
        width: 500px;
    }
    @media(max-width:950px){
        width: 400px;
        height: 350px;
    }
    @media (max-width:747px){
            width: 350px;
            height: 350px;
        }
    @media(max-width: 413px){
            width: 250px;
            height: 250px;
            margin-left: 40px;
        }   
}